# Entorno Virtual (No queremos subir las 2000 librerías de Python)
env/
venv/
ENV/

# Archivos Temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de Datos y Excel (Para no subir bases de datos reales por accidente)
*.xlsx
*.xls
*.csv
!auditoria.xlsx  # Ejemplo: Si quieres permitir uno específico, usa el signo !

# Archivos de Reportes PDF
*.pdf

# Configuración de Editores
.vscode/
.idea/
.DS_Store
